.gallery-container {
    position: relative;
}

.gallery-preview .flickity-page-dots {
    bottom: -20px;
}

.gallery-preview .flickity-page-dots .dot {
    height: 16px;
    width: 16px;
}

.gallery-nav {
    margin-top: 25px;
}

.gallery-preview.is-fullscreen {
    z-index: 100;
}

.gallery-preview.is-fullscreen .gallery-cell {
    display: flex;
}

.gallery-preview.is-fullscreen .flickity-slider img {
    max-height: 100vh;
    display: block;
    margin: auto;
}

.gallery-preview .gallery-cell {
    width: 100%;
    margin-right: 10px;
}

.gallery-nav .gallery-cell {
    margin-right: 10px;
}

.gallery-nav .gallery-cell img {
    cursor: pointer;
}

.gallery-nav .gallery-cell.is-selected {
    border: 1px solid red;
}