.gallery-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.gallery-container.loading {
    background: red;
    height: 100%;
    width: 100%;
}

.gallery-preview {
    flex: 0 1 100%;
}

.gallery-preview .flickity-page-dots {
    bottom: -20px;
}

.gallery-preview .flickity-page-dots .dot {
    height: 16px;
    width: 16px;
}

.gallery-nav {
    flex: 0 1 100%;
    margin-top: 25px;
}

.gallery-nav .flickity-viewport {
    height: 110px; /* Height of the nav - 110px is default thumbnail sizing */
}

.gallery-preview.is-fullscreen {
    z-index: 100;
}

.gallery-preview.is-fullscreen .gallery-cell {
    display: flex;
    height: 100%;
}

.gallery-preview.is-fullscreen .flickity-slider img {
    max-height: 100vh;
    display: block;
    margin: auto;
}

.gallery-preview .gallery-cell {
    width: 100%;
    margin-right: 10px;
    text-align: center;
}


.gallery-preview .gallery-cell img {
    max-height: 600px; /* This limits the height of the preview section */
}

.gallery-nav .gallery-cell {
    width: 50%; /* How many thumbnails to display in the nav? Eg. 25% = 4 */
    text-align: center;
}

.gallery-nav .gallery-cell img {
    cursor: pointer;
    height: 100%;
}

.gallery-nav .gallery-cell.is-selected {
    border: 1px solid red;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.gallery-nav .gallery-cell.is-selected img {
    box-sizing: border-box;
}

.gallery-nav.vertical {
    transform: rotate(90deg);
    align-self: center;
}

.gallery-nav.vertical .gallery-cell {
    transform: rotate(-90deg);
    margin: 20px 0;
}